@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;700&display=swap');

body {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  background-color: #0f172a; /* Slate 900 */
  color: #fff;
}
